*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

h1{
    font-size: 50px;
    color:rgb(12, 4, 4);
    text-align: center;
    margin: 30px 0px;
}

h2{
    color: rgb(12, 4, 4);
    margin:30px 30px;
}

.exib_calc{
    background-color: aliceblue;
    margin: 20px 30px;
    width: 248px;
    height: 50px;

}

.calculadora-body{
    background-color: #333131;
    width: 300px;
    padding: 3px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 31, 51, 0.705);
    margin: 30px;
}

.buttons{
    margin-left:30px;
}

.buttons_item{
    width: 60px;
    height:60px;
    font-size: 30px;
}

#mais, #multipllicacao, #menos, #multiplicacao, #divisao{
    background-color: rgb(71, 168, 71) ;
    color: rgb(15, 49, 15);
}

#c, #back, #porcento{
    background-color: rgb(58, 104, 202);
    color: rgb(1, 1, 102);
}

.especial{
    width: 124px;
    height:60px;
    font-size: 30px;
    background-color: rgb(211, 147, 29);
    color:rgb(94, 61, 0);
    margin-top: 4px
}

.buttons_limp, .buttons_back{
    width: 60px;
    height:60px;
    font-size: 30px;
}

.dizimo{
    font-size: 30px;
    color:rgb(12, 4, 4); 
    text-transform: bold;
    
}

#dizimo{
    margin-top: 20px;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: #4b6cb7;
    border-style: none;
    color: aliceblue;
}
.corpo-projeto{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.calculo_dizimo{
    margin: 35px 400px;
}

.calcular{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: #4b6cb7;
    box-shadow: 5px 5px 10px #04163a6b;
}

.calcular:hover{
    background-color: #183881;
    color: wheat;
}

.mensagem-dizimo{
    margin-top: 10px;
    width: 400px;
    font-size: 28px;
    color: #000000;;
    
}


